@mixin cut-border($side, $reverse:"no") {
    border: 2px solid white;
    border-#{$side}: none;

    &::after {
        content: '';
        display: block;
        position: absolute;
        border-#{$side}: 2px solid white;
        @if $side == 'top' or $side == 'bottom' {
            height: 100%;
            width: calc(95% - 20px);
        } @else {
            height: calc(95% - 10px);
            width: 100%;
        }
        @if $reverse == 'reverse' {
            bottom: -2px;
            right: -2px;
        } @else {
            top: -2px;
            left: -2px;
        }
        
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: black;
}

.welcome-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, #000000 100%), url('images/welcome-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-header {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.welcome-logo-heading {
    position: relative;
    left: 0.5vw;
    font-size: 7vw;
    color: white;
    align-self: center;
    text-align: right;
    text-transform: uppercase;
}

.welcome-logo {
    height: 15vw;
}

.welcome-nav {
    position: absolute;
    bottom: 10vh;
    left: calc(50vw - 70px);
}

.welcome-nav-icons {
    width: 140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.welcome-icon {
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.bloom-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.bloom-flower-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('images/bloom-flower.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    transform: scale(1.5);
}

.bloom-header-section {
    width: 80%;
    margin: 30px auto 0;
}

.bloom-heading {
    font-size: 32px;
    color: white;
    opacity: 0.8;
    margin-bottom: 15px;
}

.bloom-header-text {
    font-size: 18px;
    color: white;
    opacity: 0.8;
    line-height: 1.4;
}

.singles-list {
    margin: 40px 0 60px;
}

.single-button {
    position: relative;
    background-color: transparent;
    display: block;
    margin: 0 auto 30px;
    padding: 3px 8px;
    font-size: 24px;
    color: white;
    opacity: 0.8;
    font-variant: small-caps;
    text-transform: lowercase;
}

.single-first {
    @include cut-border(right, reverse);
}

.single-second {
    @include cut-border(top);
}

.single-third {
    @include cut-border(bottom, reverse);
}

.tour-container {
    width: 80%;
    margin: auto;
}

.tour-heading {
    padding-bottom: 5px;
    display: inline-block;
    font-size: 38px;
    color: white;
    opacity: 0.8;
    border-bottom: 2px solid white;
}

.tour-list {
    border-left: 2px solid white;
    padding: 15px 0;
    opacity: 0.8;
}

.tour-show-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 24px;
    color: white;
}

.tour-date {
    width: 60px;
    text-align: right;
}

.tour-place {
    padding-left: 20px;
}

.tour-show-more-button {
    position: relative;
    background-color: transparent;
    display: block;
    padding: 3px 8px;
    font-size: 24px;
    color: white;
    opacity: 0.8;
    font-variant: small-caps;
    text-transform: lowercase;
    @include cut-border(top, reverse);
}
.member-photo-wrapper {
    position: relative;
}

.member-photo {
    width: 100%;
}

.member-photo-name {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    opacity: 0.8;
    background-color: black;
    height: 40px;
    transform-origin: bottom left;
    transform: rotate(90deg);
}

.about-heading {
    width: 80%;
    font-size: 32px;
    color: white;
    opacity: 0.8;
    margin: 30px auto;
}

.about-text {
    width: 80%;
    font-size: 18px;
    color: white;
    opacity: 0.8;
    margin: 15px auto;
    line-height: 1.4;
}

.about-read-more-button {
    position: relative;
    margin: 30px auto;
    background-color: transparent;
    display: block;
    padding: 3px 8px;
    font-size: 24px;
    color: white;
    opacity: 0.8;
    font-variant: small-caps;
    text-transform: lowercase;
    @include cut-border(left);
}

.album-images-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.album-image {
    width: 40vw;
    height: 40vw;
}

.social-footer {
    box-sizing: border-box;
    overflow: hidden;
    height: 300px;
    position: relative;
    padding-top: 100px;
}

.footer-heading {
    text-align: center;
    font-size: 32px;
    color: white;
    opacity: 0.8;
}

.footer-icons-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 140px;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.footer-logo {
    position: absolute;
    height: 100px;
    width: 70%;
    top: 0;
    margin: 0 15%;
    background-image: url('images/bl-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
}

.footer-flower-right, .footer-flower-left {
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: 0;
    background-image: url('images/bloom-flower.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
}

.footer-flower-right {
    left: 0;
    transform: translate(-45%, 45%);
}

.footer-flower-left {
    right: 0;
    transform: translate(45%, 45%);
}