@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: black; }

.welcome-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, #000000 100%), url("images/welcome-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 400px) {
    .welcome-section {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, #000000 100%), url("images/welcome-bg-400.jpg"); } }
  @media only screen and (min-width: 401px) {
    .welcome-section {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, #000000 100%), url("images/welcome-bg.jpg"); } }

.welcome-header {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (min-width: 600px) {
    .welcome-header {
      justify-content: flex-end;
      margin: 5% 5% 0 0; } }

.welcome-logo-heading {
  position: relative;
  left: 0.5vw;
  font-size: 7vw;
  color: white;
  align-self: center;
  text-align: right;
  text-transform: uppercase; }
  @media only screen and (min-width: 600px) {
    .welcome-logo-heading {
      font-size: 42px;
      left: 3px; } }

.welcome-logo {
  height: 15vw; }
  @media only screen and (min-width: 600px) {
    .welcome-logo {
      height: 100px; } }

.welcome-tagline {
  margin: 5px 10% 0 30%;
  text-align: right;
  font-size: 18px;
  color: white;
  opacity: 0.8; }
  @media only screen and (min-width: 600px) {
    .welcome-tagline {
      margin: 5px 0 0 65%;
      font-size: 24px; } }

.page-nav {
  position: absolute;
  top: 20%;
  left: 0px; }

.page-nav-link {
  margin: 15px;
  margin-left: 0; }
  @media only screen and (min-width: 650px) {
    .page-nav-link {
      margin: 25px;
      margin-left: 0; } }

.page-nav-link-text {
  display: inline-block;
  text-align: center;
  font-size: 28px;
  color: white;
  font-variant: small-caps;
  text-transform: lowercase;
  padding: 3px 5px 3px 5px;
  background-color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  transform: translateX(-100%);
  transition: padding 0.2s;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }
  .page-nav-link-text:hover {
    padding-left: 15px; }
  .page-nav-link-text.first {
    animation-duration: 0.45s;
    animation-delay: 0.5s; }
  .page-nav-link-text.second {
    animation-delay: 0.6s; }
  .page-nav-link-text.third {
    animation-delay: 0.7s; }
  .page-nav-link-text.fourth {
    animation-delay: 0.8s; }
  .page-nav-link-text.fifth {
    animation-delay: 0.9s; }
  @media only screen and (min-width: 650px) {
    .page-nav-link-text {
      font-size: 32px; } }

@keyframes slide-in {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0px); } }

.welcome-nav {
  position: absolute;
  bottom: 80px;
  left: calc(50vw - 70px); }

.welcome-nav-icons {
  position: relative;
  width: 140px;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.welcome-icon {
  width: 40px;
  height: 40px;
  opacity: 0.8; }

.bandcamp-logotype-container {
  position: absolute;
  top: 50px;
  left: -40px; }

.bandcamp-logotype {
  width: 220px;
  height: 64px; }

.bloom-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px; }
  @media only screen and (min-width: 650px) {
    .bloom-section {
      min-height: 650px;
      display: grid;
      grid-template-areas: "tour header" "tour singles";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      justify-items: center; } }

.bloom-flower-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("images/bloom-flower.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  transform: scale(1.5);
  animation: pulse 3s linear infinite alternate; }
  @media only screen and (min-width: 650px) {
    .bloom-flower-image {
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%; } }

@keyframes pulse {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }

.bloom-header-section {
  width: 80%;
  margin: 30px auto 0; }
  @media only screen and (min-width: 650px) {
    .bloom-header-section {
      grid-area: header;
      width: 300px;
      align-self: end;
      margin-bottom: 50px; } }

.bloom-heading {
  font-size: 32px;
  color: white;
  opacity: 0.8;
  margin-bottom: 15px; }

.bloom-header-text {
  font-size: 18px;
  color: white;
  opacity: 0.8;
  line-height: 1.4; }

.singles-list {
  margin: 40px 0 60px; }
  @media only screen and (min-width: 650px) {
    .singles-list {
      margin: 0;
      grid-area: singles;
      width: 300px; } }

.single-wrapper {
  position: relative; }

.single-button {
  position: relative;
  background-color: transparent;
  display: block;
  margin: 0 auto 30px;
  padding: 3px 8px;
  font-size: 24px;
  color: white;
  opacity: 0.8;
  font-variant: small-caps;
  text-transform: lowercase; }
  @media only screen and (min-width: 650px) {
    .single-button {
      margin: 0 0 30px; } }

.single-first {
  border: 2px solid white;
  border-right: none;
  transition: background-color 0.1s, color 0.1s;
  padding-right: 10px; }
  .single-first::after {
    box-sizing: border-box;
    transition: all 0.2s;
    content: '';
    display: block;
    position: absolute;
    border-right: 2px solid white;
    height: calc(95% - 10px);
    width: 100%;
    bottom: 0;
    right: 0; }
  .single-first:hover {
    cursor: pointer; }
    .single-first:hover::after {
      height: 100%;
      width: 100%; }
  .single-first:active {
    background-color: #ffffff;
    color: #000000; }

.single-second {
  border: 2px solid white;
  border-top: none;
  transition: background-color 0.1s, color 0.1s;
  padding-top: 5px; }
  .single-second::after {
    box-sizing: border-box;
    transition: all 0.2s;
    content: '';
    display: block;
    position: absolute;
    border-top: 2px solid white;
    height: 100%;
    width: calc(95% - 20px);
    top: 0;
    left: 0; }
  .single-second:hover {
    cursor: pointer; }
    .single-second:hover::after {
      height: 100%;
      width: 100%; }
  .single-second:active {
    background-color: #ffffff;
    color: #000000; }

.single-third {
  border: 2px solid white;
  border-bottom: none;
  transition: background-color 0.1s, color 0.1s;
  padding-bottom: 5px; }
  .single-third::after {
    box-sizing: border-box;
    transition: all 0.2s;
    content: '';
    display: block;
    position: absolute;
    border-bottom: 2px solid white;
    height: 100%;
    width: calc(95% - 20px);
    bottom: 0;
    right: 0; }
  .single-third:hover {
    cursor: pointer; }
    .single-third:hover::after {
      height: 100%;
      width: 100%; }
  .single-third:active {
    background-color: #ffffff;
    color: #000000; }

.single-selection-container {
  display: none;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 10px;
  background-color: black;
  border: 2px solid white;
  animation: appear 0.2s forwards;
  z-index: 2; }
  @media only screen and (min-width: 650px) {
    .single-selection-container {
      left: -15px;
      top: 0;
      transform: translate(-100%, 0); } }
  .single-selection-container::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    left: calc(50% - 4px);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid white; }
    @media only screen and (min-width: 650px) {
      .single-selection-container::after {
        left: 100%;
        top: 10px;
        border-top: 8px solid transparent;
        border-left: 16px solid white;
        border-bottom: 8px solid transparent;
        border-right: none; } }

.single-selection-list {
  display: flex;
  align-items: center; }

.single-selection-text {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.85); }

.single-selection-icon-bc {
  width: 72px;
  margin: 0 10px; }

.single-selection-icon-yt {
  width: 48px;
  margin: 0 10px; }

.tour-container {
  width: 80%;
  margin: auto; }
  @media only screen and (min-width: 650px) {
    .tour-container {
      grid-area: tour;
      justify-self: end;
      width: 300px; } }

.tour-heading {
  padding-bottom: 5px;
  display: inline-block;
  font-size: 38px;
  color: white;
  opacity: 0.8;
  border-bottom: 2px solid white; }

.tour-list {
  border-left: 2px solid white;
  padding: 15px 0;
  opacity: 0.8; }

.tour-link {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 24px;
  color: white;
  text-decoration: none; }
  .tour-link:hover {
    text-decoration: underline; }

.tour-date {
  width: 60px;
  text-align: right; }

.tour-place {
  padding-left: 20px; }

.see-more-tour {
  display: none;
  opacity: 0;
  animation: appear 0.3s forwards; }

.tour-show-more-button, .shop-link-button {
  position: relative;
  background-color: transparent;
  display: block;
  padding: 3px 8px;
  font-size: 24px;
  color: white;
  opacity: 0.8;
  font-variant: small-caps;
  text-transform: lowercase;
  border: 2px solid white;
  border-top: none;
  transition: background-color 0.1s, color 0.1s;
  padding-top: 5px; }
  .tour-show-more-button::after, .shop-link-button::after {
    box-sizing: border-box;
    transition: all 0.2s;
    content: '';
    display: block;
    position: absolute;
    border-top: 2px solid white;
    height: 100%;
    width: calc(95% - 20px);
    bottom: 0;
    right: 0; }
  .tour-show-more-button:hover, .shop-link-button:hover {
    cursor: pointer; }
    .tour-show-more-button:hover::after, .shop-link-button:hover::after {
      height: 100%;
      width: 100%; }
  .tour-show-more-button:active, .shop-link-button:active {
    background-color: #ffffff;
    color: #000000; }

.tour-tap-note, .shop-note {
  width: 75%;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-variant: small-caps;
  text-transform: lowercase; }

.news-section {
  width: 80%;
  margin: 0 auto 50px; }
  @media only screen and (min-width: 650px) {
    .news-section {
      width: 100%;
      margin: 0 0 75px; } }

@media only screen and (min-width: 650px) {
  .news-list {
    display: flex;
    justify-content: space-around;
    min-width: 650px;
    max-width: 1200px;
    width: 100%;
    margin: auto; } }

.news-item {
  margin: 30px 0 20px;
  border-bottom: 2px solid white;
  padding-bottom: 15px; }
  .news-item:last-of-type {
    border-bottom: none;
    border-right: none; }
  @media only screen and (min-width: 650px) {
    .news-item {
      border-bottom: none;
      border-right: 2px solid white;
      padding: 0 15px 0 0;
      margin-left: 10px;
      margin-right: 10px; } }

.news-section-heading {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8); }
  @media only screen and (min-width: 650px) {
    .news-section-heading {
      text-align: center;
      margin-bottom: 20px; } }

.news-item-heading {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8); }

.news-item-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin: 15px 0;
  line-height: 1.4; }

.news-read-more-button {
  position: relative;
  background-color: transparent;
  display: block;
  padding: 3px 8px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-variant: small-caps;
  text-transform: lowercase; }
  .news-read-more-button.first {
    border: 2px solid white;
    border-left: none;
    transition: background-color 0.1s, color 0.1s;
    padding-left: 10px; }
    .news-read-more-button.first::after {
      box-sizing: border-box;
      transition: all 0.2s;
      content: '';
      display: block;
      position: absolute;
      border-left: 2px solid white;
      height: calc(95% - 10px);
      width: 100%;
      bottom: 0;
      right: 0; }
    .news-read-more-button.first:hover {
      cursor: pointer; }
      .news-read-more-button.first:hover::after {
        height: 100%;
        width: 100%; }
    .news-read-more-button.first:active {
      background-color: #ffffff;
      color: #000000; }
  .news-read-more-button.second {
    border: 2px solid white;
    border-bottom: none;
    transition: background-color 0.1s, color 0.1s;
    padding-bottom: 5px; }
    .news-read-more-button.second::after {
      box-sizing: border-box;
      transition: all 0.2s;
      content: '';
      display: block;
      position: absolute;
      border-bottom: 2px solid white;
      height: 100%;
      width: calc(95% - 20px);
      top: 0;
      left: 0; }
    .news-read-more-button.second:hover {
      cursor: pointer; }
      .news-read-more-button.second:hover::after {
        height: 100%;
        width: 100%; }
    .news-read-more-button.second:active {
      background-color: #ffffff;
      color: #000000; }
  .news-read-more-button.third {
    border: 2px solid white;
    border-right: none;
    transition: background-color 0.1s, color 0.1s;
    padding-right: 10px; }
    .news-read-more-button.third::after {
      box-sizing: border-box;
      transition: all 0.2s;
      content: '';
      display: block;
      position: absolute;
      border-right: 2px solid white;
      height: calc(95% - 10px);
      width: 100%;
      top: 0;
      left: 0; }
    .news-read-more-button.third:hover {
      cursor: pointer; }
      .news-read-more-button.third:hover::after {
        height: 100%;
        width: 100%; }
    .news-read-more-button.third:active {
      background-color: #ffffff;
      color: #000000; }

@media only screen and (min-width: 650px) {
  .about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; } }

.band-photo-list {
  display: flex;
  height: 350px;
  width: 100%; }
  @media only screen and (min-width: 650px) {
    .band-photo-list {
      margin-top: 50px;
      order: 1; } }

.members-photo {
  position: relative;
  width: calc(100%/3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.8;
  transition: background-size 0.3s; }

@media only screen and (max-width: 400px) {
  .simon-photo {
    background-image: url("images/git2-400.jpg"); } }

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .simon-photo {
    background-image: url("images/git2-600.jpg"); } }

@media only screen and (min-width: 601px) {
  .simon-photo {
    background-image: url("images/git2.jpg"); } }

.chris-photo {
  border-left: 2px solid black; }
  @media only screen and (max-width: 400px) {
    .chris-photo {
      background-image: url("images/git1-400.jpg"); } }
  @media only screen and (min-width: 401px) and (max-width: 600px) {
    .chris-photo {
      background-image: url("images/git1-600.jpg"); } }
  @media only screen and (min-width: 601px) {
    .chris-photo {
      background-image: url("images/git1.jpg"); } }

.andrew-photo {
  border-left: 2px solid black; }
  @media only screen and (max-width: 400px) {
    .andrew-photo {
      background-image: url("images/perk2-400.jpg"); } }
  @media only screen and (min-width: 401px) and (max-width: 600px) {
    .andrew-photo {
      background-image: url("images/perk2-600.jpg"); } }
  @media only screen and (min-width: 601px) {
    .andrew-photo {
      background-image: url("images/perk2.jpg"); } }

.member-name {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding-bottom: 5px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-variant: small-caps;
  text-transform: lowercase; }

.about-heading {
  width: 80%;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
  margin: 30px auto 20px; }
  @media only screen and (min-width: 650px) {
    .about-heading {
      margin: 0 0 20px calc(200px + (100vw - 650px) / 6);
      width: 450px; } }

.about-text, .see-more-text {
  width: 80%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin: 15px auto;
  line-height: 1.4; }
  @media only screen and (min-width: 650px) {
    .about-text, .see-more-text {
      margin: 15px 0 15px calc(200px + (100vw - 650px) / 6);
      width: 450px;
      position: relative;
      z-index: 1; } }

.see-more-text {
  display: none; }
  @media only screen and (min-width: 650px) {
    .see-more-text {
      display: block; } }

.about-read-more-button {
  position: relative;
  margin: 30px auto;
  background-color: transparent;
  display: block;
  padding: 3px 8px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-variant: small-caps;
  text-transform: lowercase;
  border: 2px solid white;
  border-left: none;
  transition: background-color 0.1s, color 0.1s;
  padding-left: 10px; }
  .about-read-more-button::after {
    box-sizing: border-box;
    transition: all 0.2s;
    content: '';
    display: block;
    position: absolute;
    border-left: 2px solid white;
    height: calc(95% - 10px);
    width: 100%;
    top: 0;
    left: 0; }
  .about-read-more-button:hover {
    cursor: pointer; }
    .about-read-more-button:hover::after {
      height: 100%;
      width: 100%; }
  .about-read-more-button:active {
    background-color: #ffffff;
    color: #000000; }
  @media only screen and (min-width: 650px) {
    .about-read-more-button {
      display: none; } }

.album-images-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: space-around; }
  @media only screen and (min-width: 650px) {
    .album-images-wrapper {
      height: 350px;
      justify-content: space-between;
      position: absolute;
      top: calc(50% - 350px);
      left: calc(20px + (100vw - 650px) / 6);
      flex-direction: column;
      margin: 0; } }

.album-image {
  width: 40vw;
  height: 40vw; }
  @media only screen and (min-width: 650px) {
    .album-image {
      width: 150px;
      height: 150px; } }

.about-background {
  display: none; }
  @media only screen and (min-width: 650px) {
    .about-background {
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: calc(100% - 350px);
      background-image: url("images/about-bg.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center right;
      opacity: 0.3; } }

.shop-section {
  width: 80%;
  margin: 0 auto 50px; }
  @media only screen and (min-width: 650px) {
    .shop-section {
      min-width: 500px;
      width: 80%;
      max-width: 800px;
      margin: 75px auto; } }

.shop-heading {
  display: inline-block;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 5px;
  border-bottom: 2px solid white; }

.shop-items-images-list {
  border-left: 2px solid white;
  padding: 15px 0;
  opacity: 0.8; }
  @media only screen and (min-width: 650px) {
    .shop-items-images-list {
      display: flex;
      width: 100%;
      justify-content: space-around; } }

.shop-item-image {
  display: block;
  width: 150px;
  margin: 20px auto;
  transform: scale(1);
  transition: transform 0.3s; }
  .shop-item-image:hover {
    transform: scale(1.1); }

.shop-albums {
  width: 175px; }

.shop-link-button {
  display: inline-block;
  text-decoration: none; }

.social-footer {
  box-sizing: border-box;
  overflow: hidden;
  height: 320px;
  position: relative;
  padding-top: 100px; }
  @media only screen and (min-width: 650px) {
    .social-footer {
      height: 350px; } }

.footer-heading {
  text-align: center;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8); }
  @media only screen and (min-width: 650px) {
    .footer-heading {
      margin-top: 20px; } }

.footer-icons-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin: 15px auto 75px;
  width: 120px; }

.footer-icon {
  width: 40px;
  height: 40px; }

.footer-bandcamp-logotype-container {
  position: absolute;
  top: 50px;
  left: -50px; }

.footer-bandcamp-logotype {
  width: 220px;
  height: 64px; }

.contact-text {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 5px; }

.mail-address {
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin: auto; }

.footer-logo {
  position: absolute;
  height: 100px;
  width: 70%;
  top: 0;
  margin: 0 15%;
  background-image: url("images/bl-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15; }

.footer-flower-right, .footer-flower-left {
  position: absolute;
  z-index: 0;
  height: 300px;
  width: 300px;
  bottom: 0;
  background-image: url("images/bloom-flower.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15; }
  @media only screen and (min-width: 650px) {
    .footer-flower-right, .footer-flower-left {
      height: 500px;
      width: 500px; } }

.footer-flower-right {
  left: 0;
  transform: translate(-45%, 45%);
  animation: 0.5s 0.1s shake-right paused; }

.footer-flower-left {
  right: 0;
  transform: translate(45%, 45%);
  animation: 0.5s 0.1s shake-left paused; }

@keyframes shake-left {
  0% {
    transform: translate(45%, 45%) rotate(0deg); }
  20% {
    transform: translate(45%, 45%) rotate(-5deg); }
  40% {
    transform: translate(45%, 45%) rotate(10deg); }
  60% {
    transform: translate(45%, 45%) rotate(-5deg); }
  100% {
    transform: translate(45%, 45%) rotate(0deg); } }

@keyframes shake-right {
  0% {
    transform: translate(-45%, 45%) rotate(0deg); }
  20% {
    transform: translate(-45%, 45%) rotate(5deg); }
  40% {
    transform: translate(-45%, 45%) rotate(-10deg); }
  60% {
    transform: translate(-45%, 45%) rotate(5deg); }
  100% {
    transform: translate(-45%, 45%) rotate(0deg); } }
